.contact-wrap
    .container
        .contact-title.tl
            div ОТРИМАЙ КОНСУЛЬТАЦІЮ
            div У ЗРУЧНОМУ ФОРМАТІ 24/7
        .contact
            .contact-img
                img(src="./img/Chat.jpg", alt="")
            .contact-info
                .txs.
                    З питань придбання страхового полісу особистого страхування вихованців дошкільних навчальних закладів, школярів, студентів, педагогічних працівників та інших працівників сфери освіти - телефонуй за номером гарячої лінії <span class="cg fwm">0 800 30 99 99</span> <br/><br/>(безкоштовно зі стаціонарних та мобільних телефонів України)<br/><br/> Або використовуй інші канали зв'язку:<br/><br/> чат з оператором на сайті <br/><br/>Viber +38 (067) 539 97 07, Telegram: AlfaICbot <br/><br/>Або завітай до нашого офісу у своєму місті<br/><br/><a href="#" class="fwm cg">Контакти офісів</a>
