-
    var faqInfo = [
        {
            id: 0,
            question: 'Хто може бути застрахованим?',
            answer: 'Для отримання страхової виплати потрібно спочатку звернутись до страхової компанії за телефоном або електронною поштою та повідомити про подію, що сталась. Потім зібрати документи, що посвідчують особу застрахованого, та підтверджують отримання ним травми чи захворювання (довідку з лікарні). Страхова компанія протягом 10-ти робочих днів розглядає документи та протягом 5-ти днів виплачує належні застрахованому кошти.'
        },
        {
            id: 1,
            question: 'Що покривається за опцією «covid19»?',
            answer: 'Для отримання страхової виплати потрібно спочатку звернутись до страхової компанії за телефоном або електронною поштою та повідомити про подію, що сталась. Потім зібрати документи, що посвідчують особу застрахованого, та підтверджують отримання ним травми чи захворювання (довідку з лікарні). Страхова компанія протягом 10-ти робочих днів розглядає документи та протягом 5-ти днів виплачує належні застрахованому кошти.'
        },
        {
            id: 2,
            question: 'Що покривається за опцією «Нещасний випадок»?',
            answer: 'Для отримання страхової виплати потрібно спочатку звернутись до страхової компанії за телефоном або електронною поштою та повідомити про подію, що сталась. Потім зібрати документи, що посвідчують особу застрахованого, та підтверджують отримання ним травми чи захворювання (довідку з лікарні). Страхова компанія протягом 10-ти робочих днів розглядає документи та протягом 5-ти днів виплачує належні застрахованому кошти.'
        },
        {
            id: 3,
            question: 'Що покривається за опцією «Критичні хвороби»?',
            answer: 'Для отримання страхової виплати потрібно спочатку звернутись до страхової компанії за телефоном або електронною поштою та повідомити про подію, що сталась. Потім зібрати документи, що посвідчують особу застрахованого, та підтверджують отримання ним травми чи захворювання (довідку з лікарні). Страхова компанія протягом 10-ти робочих днів розглядає документи та протягом 5-ти днів виплачує належні застрахованому кошти.'
        },
        {
            id: 4,
            question: 'Як відбувається страхове відшкодування?',
            answer: 'Для отримання страхової виплати потрібно спочатку звернутись до страхової компанії за телефоном або електронною поштою та повідомити про подію, що сталась. Потім зібрати документи, що посвідчують особу застрахованого, та підтверджують отримання ним травми чи захворювання (довідку з лікарні). Страхова компанія протягом 10-ти робочих днів розглядає документи та протягом 5-ти днів виплачує належні застрахованому кошти.'
        },
        {
            id: 5,
            question: 'Хто не може бути застрахованим?',
            answer: 'Для отримання страхової виплати потрібно спочатку звернутись до страхової компанії за телефоном або електронною поштою та повідомити про подію, що сталась. Потім зібрати документи, що посвідчують особу застрахованого, та підтверджують отримання ним травми чи захворювання (довідку з лікарні). Страхова компанія протягом 10-ти робочих днів розглядає документи та протягом 5-ти днів виплачує належні застрахованому кошти.'
        },
    ]

.faq-wrap
    .container
        .faq
            .faq-title.tl Залишились питання?
            ul.collapsible.ui-collapse
                each info, key in faqInfo
                    li.ui-collapse-item
                        .collapsible-header.ui-collapse-head(id=`collapseHead${key}`)
                            .ui-collapse-title.tx(aria-controls=key)= info.question
                            .ui-collapse-icon(id=`collapseIcon${key}`)
                        .collapsible-body.ui-collapse-body.txs(id=`collapseBody${key}`)= info.answer