.form
    .form-item
        .form-title Прізвище, ім’я та по-батькові
        input.form-input(type="text")
    .form-forked-items
        .form-item
            .form-title Дата народження
            input.form-input(type="text" placeholder="DD-MM-YYYY")
        .form-item
            .form-title Контактний номер
            input.form-input(type="text" placeholder="+38 (099) 99 99 99")
    .form-item
        .form-title Email
        input.form-input(type="text")
    .form-description.
        При замовленні та купівлі полісу просимо використовувати e-mail адресу, створену на українських або міжнародних серверах (наприклад, ukr.net, i.ua, email.ua, gmail.com, yahoo.com тощо)
    a(href="#!" class="waves-effect waves-light red darken-2 btn ma") Залишити заявку
