extends ../../pug/head
block title
	| Безпечна освіта
block contents
	//- include ../../pug/components/header
	section
		include ./modal
		include ./initial
		include ./steam
		include ./option
		include ./obey
		include ./faq
		include ./contact