.init-wrap
    .container
        .init
            .init-info
                .init-title.tl Безпечна освіта
                .tls Страхування здоров’я для тих, хто навчається та навчає
                .init-list.txs
                    .init-list-item мінімальна вартість страхування, як 2 обіди у їдальні
                    .init-list-item виплата фіксована і не залежить від витрат на лікування
                    .init-list-item для відшкодування не потрібні чеки із аптеки чи лікарні
                    .init-list-item покриваємо тяжкі хвороби, щоб зняти фінансові незгоди
                .btn Залишити заявку
            .init-img
                img(src="./img/objects.jpg", alt="")