.obey-wrap
    .container
        .obey
            .obey-title
                .tls Бажаєш купити поліс?
                .tls Залишай заявку і наш менеджер з тобою зв’яжеться
            .obey-btn.btn Залишити заявку