.obey-wrap
    .container
        .obey
            .tls Бажаєш купити поліс?
            .tls Залишай заявку і наш менеджер з тобою зв’яжеться
            br
            a(class="waves-effect waves-light btn modal-trigger" href="#modal1")  Залишити заявку

