.options
    .container
        .options-title.tl Обирайте програму

        .options-tabs-items
            .options-tabs-item.active Студентам та працівникам
            .options-tabs-item Школярам та дошкільнятам

        .options-tabs
            table.options-tab-item
                tr
                    th
                        .options-col-title.tls Якщо раптом
                    th
                        .options-col-title.tc.tls Яка виплата?
                tr
                    td
                        .options-col-left-item
                            .options-col-text.tx COVID-19
                            .options-col-text.txs максимальна виплата при стаціонарному лікуванні
                    td
                        table.options-col-right-item
                            tr
                                td
                                    .options-col-right.tx 5 000 грні
                                td
                                    .options-col-right.tx 5 000 грн
                tr
                    td
                        .options-col-left-item
                            .options-col-text.tx Критичні хвороби
                            .options-col-text.txs максимальна виплата
                    td
                        table.options-col-right-item
                            tr
                                td
                                    .options-col-right.tx нема
                                td
                                    .options-col-right.tx 25 000 грн
                tr
                    td
                        .options-col-left-item
                            .options-col-text.tx Нещасний випадок
                            .options-col-text.txs максимальна виплата
                    td
                        table.options-col-right-item
                            tr
                                td
                                    .options-col-right.tx 10 000 грні
                                td
                                    .options-col-right.tx 25 000 грн
                tr
                    td
                        .options-col-left-final
                            .options-item-final.tx
                                b Вартість:
                            .options-item-final-decis Умови оферти
                    td
                        table.options-col-right-final
                            tr
                                td
                                    .options-item-right-final 300 грн
                                td
                                    .options-item-right-final 650 грн