.option
.option
    .container

.options
.options-title
    text-align: center
.options-tabs-items
    display: flex
    margin: auto
    height: 56px
    width: 80%
    padding: 4px
    background: #fff
    border-radius: 8px
    background: rgba(231, 45, 43, 0.05)
    margin-bottom: 32px
.options-tabs-item.active
    background: white
    padding: 0 16px
    color: #E72D2B
.options-tabs-item
    line-height: 48px
    height: 48px
    width: inherit
    border-radius: 8px
    text-align: center
    padding: 0 20px
    font-size: 17px
    font-weight: 600
    color: rgba(231, 45, 43, 0.5)
    cursor: pointer

.options-tabs
.options-tab-item
.options-col-title
    margin-bottom: 20px
.options-col-left-item
    padding-right: 30%
.options-col-text
.options-col-right-item

.options-col-right,
.options-item-right-final
    height: 80px
    width: 250px
    line-height: 80px
    text-align: center
    background: #F7F7F7
    border-radius: 8px
    margin: 10px
.options-col-left-final

.options-item-final
.options-col-right-final
.options-item-right-final
    background: white
    font-size: 18px
    font-weight: 600
    color: $cg
.options-item-final-decis
    color: gray