.steam
.steam-list
    display: flex
    justify-content: space-between
    @include tablet
        flex-direction: column
.steam-item
    width: 33%
    @include tablet
        width: 80%
        margin-bottom: 32px
.steam-item-img
    height: 48px
    img
        height: 100%
        width: auto
.steam-item-title
    margin: 8px 0
.steam-title
    text-align: center
.steam-item-text