//- imgs path img(src="./img/svg/map.svg" alt="")
.header
    .header-menu
        .header-menu-item
            a(href="#") Main
        .header-menu-item
            a(href="#") News
        .header-menu-item
            a(href="#") Contacts
    h1 here img
        //- img(src="./img/main_bg.jpg", alt="")
    .header-toolbar
      img(src="./img/svg/bill.svg" alt="")
      img(src="./img/svg/files.svg" alt="")
