section(class="section-height-800 breadcrumb-modern parallax-container context-dark bg-gray-darkest d-none d-lg-block" data-parallax-img="https://www.imgacademy.co.kr/themes/custom/imgacademy/images/helpbox-contact.jpg")
    div.parallax-content
        div.bg-overlay-darker
            div(class="container-wide section-34 section-md-60 section-lg-top-130 section-lg-bottom-155")
                div.d-none.d-lg-block
                    h1.text-center Страхування за кордоном