section(class="parallax-container" data-parallax-img="./img/main_bg.jpg")
    div.parallax-content
        div.bg-overlay-darker
            div(class="container-wide section-34 section-md-60 section-lg-top-130 section-lg-bottom-155")
                div.d-none.d-lg-block
                    h1.text-center Страхування за кордоном