$cg: #e72d2b
$cgh: #DE1E1C

$cs: #eee
$ct: #495966

// title
.tl
    text-align: center
    margin-top: 140px
    margin-bottom: 80px
    color: $cg
    font-size: 40px
    font-weight: 900
.tls
    font-size: 28px
    font-weight: 900
    color: $ct

// text
.tx
    font-size: 18px
    font-weight: 500
    color: $ct
.txs
    font-size: 15px
    font-weight: 500
    color: $ct

// button
.btn
    font-size: 17px
    padding: 18px
    font-weight: 600
    color: #fff
    background: #E72D2B
    box-shadow: 0px 6px 20px -6px rgba(231, 45, 43, 0.3)
    border-radius: 8px
    transition: .15s ease-in
    &:hover
        color: #fff
        background: $cgh

.tac
    text-align: center
.cg
    color: $cg

// font-weight
.fwb
    font-weight: 600
.fwm
    font-weight: 500
.fwr
    font-weight: 400
.fwl
    font-weight: 300